---
import Layout from '../../components/layout/Layout.astro';
import Header from '../../components/chrome/Header.astro';
import Hero from '../../components/hero/Hero.astro';
import Services from '../../components/services/Services.astro';
import Cases from '../../components/cases/Cases.astro';
import BrefForm from '../../components/form/BrefForm.astro';
import Footer from '../../components/chrome/Footer.astro';
import { ru } from '../../i18n/ru';
---

<Layout title="AF Venture Studio" description={ru.hero.title} lang="ru">
  <Header dict={ru} locale="ru" />
  <main>
    <Hero dict={ru} />
    <Services dict={ru} />
    <Cases dict={ru} />
    <BrefForm dict={ru} />
  </main>
  <Footer dict={ru} locale="ru" />
</Layout>
